EXPO_PUBLIC_SUPABASE_URL=
EXPO_PUBLIC_SUPABASE_ANON_KEY=
EXPO_PUBLIC_BACKEND_URL=http://localhost:3000
EXPO_PUBLIC_DEFAULT_PROJECT_ID=104A
EXPO_PUBLIC_EXPO_PROJECT_ID=
EXPO_PUBLIC_WKB_STORAGE_ENGINE=auto
EXPO_PUBLIC_PROJECT_NAME=Wkb Dossier 104A
EXPO_PUBLIC_GEVOLGKLASSE=1
EXPO_PUBLIC_KWALITEITSBORGER=
